.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal.open {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  flex-direction: column;
  display: flex;
  width: 400px;
  z-index: 1000;
}

.modal-content > p {
  align-self: center;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}

.modal-content > span {
  font-size: 14px;
  margin-bottom: 8px;
}

.modal-content > input {
  border: 1px solid black;
  border-radius: 8px;
  padding: 8px 16px;
  margin-bottom: 20px;
  font-size: 14px;
}

.modal-content > button{
    border-radius: 8px;
    background-color: white;
    color: black;
    padding: 8px 24px;
    align-self: center;
    font-weight: 700;
    font-size: 14px;
    border: 1px solid black;
}

.modal-content > button:hover{
    background-color: black;
    color: white;
}


@media (max-width: 580px) {
  .modal-content {
    width: 300px;
  }

  .modal-content > p {
    font-size: 18px;
  }

  .modal-content > span {
    font-size: 12px;
  }
}